==
<div class="flexslider">
    <ul class="slides">
        <li>
            <div class="slider-caption">
                <center class="logo_in_slider"><img src="http://localhost:8000/themes/jtherczeg-grill/assets/images/logo.png" style="width:100px !important;"/></center>
                <h2>Dewan Pimpinan Daerah<br>Partai Solidaritas Indonesia</h2>
                <p>Kabupaten Bogor</p>
            </div>
        <img src="{{ 'assets/images/background_slide.png'|theme }}" alt="" />
        </li>
    </ul>
</div>