                            <div class="col-md-3 col-md-offset-1">
                                <div class="side-bar">
                                    <div class="news-letters">
                                        <h4>Categories</h4>
                                        <div class="archives-list">
                                            <ul>
                                              <li><a href="#"><i class="fa fa-angle-right"></i>Category A</a></li>
                                              <li><a href="#"><i class="fa fa-angle-right"></i>Category B</a></li>
                                              <li><a href="#"><i class="fa fa-angle-right"></i>Category C</a></li>
                                              <li><a href="#"><i class="fa fa-angle-right"></i>Category D</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="recent-post">
                                        <h4>Recent Posts</h4>
                                            <div class="posts">
                                                <div class="recent-post">
                                                    <div class="recent-post-thumb">
                                                         <img src="{{ 'assets/images/recent-post1.jpg'|theme }}" alt="">
                                                    </div>
                                                    <div class="recent-post-info">
                                                        <h6><a href="#">Vestibulum molestie odio sit amet</a></h6>
                                                        <span>24 Sep 2084</span>
                                                    </div>
                                                </div>
                                                <div class="recent-post">
                                                <div class="recent-post-thumb">
                                                     <img src="{{ 'assets/images/recent-post2.jpg'|theme }}" alt="">
                                                </div>
                                                <div class="recent-post-info">
                                                    <h6><a href="#">Vivamus mattis quam eget urna tincidunt</a></h6>
                                                    <span>22 Sep 2084</span>
                                                </div>
                                            </div>
                                            <div class="recent-post">
                                                <div class="recent-post-thumb">
                                                    <img src="{{ 'assets/images/recent-post3.jpg'|theme }}" alt="">
                                                </div>
                                                <div class="recent-post-info">
                                                    <h6><a href="#">Curabitur in nunc eget neque posuere</a></h6>
                                                    <span>21 Sep 2084</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    </div>
                            </div>
