==
<section id="one" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
                <h2>Apa itu Citratus ?</h2>
            </header>
            <p>Citratus adalah disinfektan bakar dibuat dari bahan-bahan alami beraroma serai menyegarkan yang dari ratusan tahun lalu sudah digunakan oleh para leluhur sebagai warisan adiluhung dapat membantu mencegah berkembangnya virus dan bakteri serta nyamuk dan serangga pada ruangan anda. serta memberikan efek segar alami yang menenangkan .</p>
            <ul class="actions">
                <li><a href="{{'apa-itu-citratus'|page}}" class="button">Pelajari lebih lanjut</a></li>
            </ul>
        </div>
        <span class="image"><img src="{{ url('/storage/app/media/1.jpeg') }}" alt="image" /></span>
    </div>
</section>