==
<div class="container kanggotaan">
<div class="row">
        <div class="col-md-12">
            <div class="heading-section">
                <h2>KEANGGOTAAN</h2>
                <img src="{{ 'assets/images/under-heading.png'|theme }}" alt="" >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="service-item">
                <h4>INGIN MENJADI ANGGOTA ?</h4>
                <p>Belum mendaftar dan ingin menjadi anggota ? <a href="https://psi.id/menjadi-anggota">Klik disini untuk mendaftar !</a></p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="service-item">
                <h4>SUDAH MENJADI ANGGOTA</h4>
                <p>Setelah Mendaftar Cek akun mu, kamu akan dapat melihat E-KTA setelah berhasil login, <a href="https://siap.psi.id/">Klik disini untuk Login!</a> </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="service-item">
                <h4>VERIFIKASI KEANGGOTAAN</h4>
                <p>Setelah mendaftar dan berhasil login di Portal Utama Akun, Silahkan lakukan verifikasi dan kami akan segera menghubungimu <a href="https://forms.gle/gjnzJq5MbCnRf4VG9">Klik disini !</a></p>
            </div>
        </div>
    </div>
    <div class="space50"></div>  
</div>